.rank-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "rank-img rank-name"
        "rank-img tier"
        "rank-displays rank-displays";
}
@media (min-width: 767px) {
    .rank-info {
        gap: 15px;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr 1fr 2fr;
        grid-template-areas:
            "rank-img rank-name"
            "rank-img rank-displays"
            "rank-img tier";
    }
}
@media (min-width: 1200px) {
    .rank-info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 60vh;
        grid-template-areas:
            "rank-name tier"
            "rank-displays rank-displays"
            "rank-img rank-img";
    }
}
