.rank-info {
    display: grid;
    gap: 15px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas:
        "rank-img rank-name"
        "rank-img rank-displays"
        "rank-img tier";
    .tier {
        grid-area: tier;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rank-name {
        grid-area: rank-name;
        background-color: rebeccapurple;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
