.rank {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
        "rank-info"
        "rank-keep";
    .rank-info {
        grid-area: rank-info;
    }
    .rank-keep {
        grid-area: rank-keep;
    }
}
