.projects-page {
    background-color: rgba(11, 86, 148, 0.486);
    display: grid;
    gap: 1%;
    padding: 1%;
    min-height: 600px;
    height: 89.75vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
        "rank rank"
        "stats energies"
        "projects projects";
    .rank {
        grid-area: rank;
    }
    .projects {
        grid-area: projects;
        background-color: rgb(86, 86, 202);
    }
    .energies {
        grid-area: energies;
    }
    .stats {
        grid-area: stats;
    }
}
@media (min-width: 768px) {
    .projects-page {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "rank energies"
            "projects stats";
    }
}
