.projects-page {
    background-image: radial-gradient(
        circle,
        rgba(128, 105, 133, 0.6),
        rgba(116, 55, 129, 0.6),
        rgba(49, 0, 59, 0.6)
    );
    display: grid;
    gap: 2rem;
    padding: 2rem;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
        "rank rank"
        "stats energies"
        "projects projects";
    .rank {
        grid-area: rank;
    }
    .projects {
        grid-area: projects;
        box-shadow: 2px 2px 10px #000000;
        background-color: transparent;
    }
    .energies {
        grid-area: energies;
    }
    .stats {
        grid-area: stats;
    }
}
@media (min-width: 768px) {
    .projects-page {
        height: 89.75vh;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "rank energies"
            "projects stats";
    }
}
@media (min-width: 1200px) {
    .projects-page {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "rank projects energies"
            "rank projects stats";
    }
}
