.start {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%) !important;
}

.tytul {
    text-shadow: 4px 4px 0px #000, 7px 7px 0px rgba(0, 0, 0, 0.2);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: white;
    font-size: 72px;
    text-align: center;
    margin: 0;
}

.wtekst {
    text-shadow: 4px 4px 0px #000, 7px 7px 0px rgba(0, 0, 0, 0.2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    font-size: 44px;
    text-align: center;
    margin: 0;
}

.header {
    position: absolute;
    left: 50%;
    padding: 20px;
}

.blok {
    filter: blur(3px) grayscale(50%);
}

.tekst {
    position: absolute;
    width: 30%;
    text-align: justify;
    font-size: 20px;
}

.pierwszy {
    width: 100%;
    height: 100%;
    top: 0%;
    position: absolute;
}

.drugi {
    width: 100%;
    height: vh;
    top: 100%;
    position: absolute;
}

.trzeci {
    width: 100%;
    height: vh;
    top: 200%;
    position: absolute;
}

.czwarty {
    width: 100%;
    height: vh;
    top: 300%;
    position: absolute;
}

.piaty {
    width: 100%;
    height: vh;
    top: 400%;
    position: absolute;
}

.szósty {
    width: 100%;
    height: vh;
    top: 500%;
    position: absolute;
}

.siódmy {
    width: 100%;
    height: vh;
    top: 600%;
    position: absolute;
}

.ósmy {
    width: 100%;
    height: vh;
    top: 700%;
    position: absolute;
}

.dziewiąty {
    width: 100%;
    height: vh;
    top: 800%;
    position: absolute;
}

.dziesiąty {
    width: 100%;
    height: vh;
    top: 900%;
    position: absolute;
}

.ostatni {
    width: 100%;
    height: vh;
    top: 1000%;
    position: absolute;
}
.ikonal {
    width: 150px;
    height: 150px;
    top: 115%;
    position: absolute;
    margin-top: 20px;
}

.ikonar {
    width: 125px;
    height: 125px;
    position: absolute;
    margin-top: 20px;
}

.profil {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -100%;
}

.name {
    position: absolute;
    top: 960%;
    padding: 20px;
}

.namec {
    position: absolute;
    top: 1060%;
    padding: 20px;
}

.Is {
    position: absolute;
    text-align: center;
    font-size: 20px;
    top: 200%;
}
